/*

Edit this file to override the colors etc

*/


/* BACKGROUND
body {
	background: papayawhip;
}
*/



/* LOGO
.logo {

}
*/


/* RAFFLE BUTTON
.raffle {
	background: hotpink;
	border-color: black;
	color: white;
}
*/


/* NOMINEES
.nominees li {
	color: black;
}
*/


/* POINTER
.pointer {
	color: hotpink;
}
*/